html {
  font-family: Georgia, serif;
}

.banner {
  background-image: url("../images/earth-horizon.jpg");
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
  background-size: cover;
}

.container {
  padding-top: 15em;
}

h1, p {
  color: #fff;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}
